<h2>Available Products</h2>
<ul class="products">
  <li *ngFor="let product of products"
      [class.selected]="product === selectedProduct"
      (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.description}}
  </li>
</ul>

<div *ngIf="selectedProduct">
  <h2>PRODUCT DETAILS</h2>
  <div><span>id:</span>{{selectedProduct.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedProduct.description" placeholder="description">
    </label>
    <label>price:
      <input [(ngModel)]="selectedProduct.priceInCents" placeholder="description" type="number">
    </label>
  </div>
</div>
